.element {
  width: 270px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.element__img {
  width: 270px;
  height: 151px;
  margin: 0 0 14px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.element__img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.element__caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
}

.element__text {
  margin: 0;
  width: 226px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
}

.element__like {
  width: 24px;
  height: 24px;
  margin: 0;
  border: 0;
  background: #313131 url(../../images/like.svg) no-repeat center;
  border-radius: 36px;
  cursor: pointer;
  transition: background-image 0.3s ease, opacity 0.3s ease;
}

.element__like:hover {
  opacity: 0.5;
  background-image: url(../../images/like_active.svg);
}

.element__like_delete {
  width: 24px;
  height: 24px;
  margin: 0;
  border: 0;
  background: #313131 url(../../images/delete.svg) no-repeat center;
  border-radius: 36px;
  cursor: pointer;
  transition: background-image 0.3s ease, opacity 0.3s ease;
  z-index: 1;
}

.element__like_delete:hover {
  opacity: 0.5;
}

.element__time {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #8b8b8b;
  margin: 0;
  padding-top: 6px;
  border-top: 1px solid #424242;
}

@media screen and (max-width: 1023px) {
  .element {
    width: 339px;
  }

  .element__img {
    width: 339px;
  }
}

@media screen and (max-width: 1023px) {
  .element {
    width: 300px;
  }

  .element__img {
    width: 300px;
  }
}
