.login {
  width: 396px;
  padding-top: 70px;
  margin: 0 auto;
}

.login__logo {
  margin: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.login__logo:hover {
  opacity: 0.5;
}

.login__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin: 40px 0;
}

.login__form {
  display: flex;
  flex-direction: column;
  font-family: inherit;
}

.login__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #8b8b8b;
  margin: 20px 0 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.login__label:first-child {
  margin-top: 0;
}

.login__input {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  height: 46px;
  background: #2f2f2f;
  border-radius: 8px;
  border: 0;
  color: #fff;
  margin-top: 10px;
}

.login__input:focus {
  outline: thin outset #fff;
}

.login__input-error {
  color: #ee3465;
  position: absolute;
  left: 0;
  bottom: -22px;
}

.login__button {
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  background: #4285f4;
  border-radius: 3px;
  color: #fff;
  margin: 179px 0 0;
  paddin: 0;
  border: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.login__button:hover {
  opacity: 0.5;
}

.login__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: #8b8b8b;
  margin: 16px 0 70px;
}

.login__link {
  text-decoration: none;
  color: #4285f4;
  margin: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.login__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1023px) {
  .login {
    padding-top: 232px;
  }
}

@media screen and (max-width: 540px) {
  .login {
    width: 320px;
    display: flex;
    flex-direction: column;
  }

  .login__logo {
    margin-top: 56px;
    align-self: center;
  }

  .login__title {
    width: 260px;
    margin: 50px auto 80px;
    text-align: center;
  }

  .login__form {
    width: 260px;
    margin: 0 auto;
  }

  .login__button {
    margin: 267px 0 0;
  }

  .login__text {
    margin: 14px 0 30px;
  }
}
