.content__more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  width: 320px;
  height: 36px;
  color: #fff;
  margin: 50px 0 80px;
  border: 0;
  border-radius: 5px;
  background: #2f2f2f;
  transition: opacity 0.3s ease;
}

.content__button:hover {
  opacity: 0.5;
  cursor: pointer;
}
