.footer {
  padding: 79px 70px 20px;
}

.footer__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
  color: #8b8b8b;
  padding-bottom: 20px;
  border-bottom: 1px solid #686868;
  margin: 0 0 20px;
}

.footer__info {
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
}

.footer__data {
  margin: 0 auto 0 0;
}

.footer__link {
  margin: 0;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.footer__link:last-child {
  margin-left: 20px;
}

.footer__link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 79px 30px 20px;
  }
}

@media screen and (max-width: 540px) {
  .footer {
    padding: 79px 10px 10px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 1.25;
    padding-bottom: 21px;
    margin: 0 0 30px;
  }

  .footer__info {
    flex-direction: column-reverse;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
  }

  .footer__link {
    margin-bottom: 12px;
  }

  .footer__link:last-child {
    margin-left: 0;
  }

  .footer__data {
    margin: 0 auto;
  }
}
