.aboutMe {
  padding: 110px 70px 100px;
}

.aboutMe__header {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.22;
  margin: 0 0 66px;
  padding-bottom: 23px;
  border-bottom: 1px solid #686868;
}

.aboutMe__info {
  display: flex;
  justify-content: space-between;
}

.aboutMe__name {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
}

.aboutMe__speciality {
  margin: 26px 0 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
}

.aboutMe__about {
  margin: 0 0 100px;
  width: 600px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.aboutMe__link {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.aboutMe__link:hover {
  opacity: 0.5;
}

.aboutMe__photo {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

@media screen and (max-width: 1023px) {
  .aboutMe {
    padding: 90px 50px;
  }

  .aboutMe__name {
    font-size: 40px;
    line-height: 1;
  }

  .aboutMe__speciality {
    margin: 16px 0 20px;
    font-size: 12px;
    line-height: 1.5;
  }

  .aboutMe__about {
    width: 364px;
    margin: 0 0 87px;
    font-size: 12px;
    line-height: 1.5;
  }

  .aboutMe__photo {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767px) {
  .aboutMe__info {
    align-items: center;
    flex-direction: column-reverse;
  }

  .aboutMe__photo {
    width: 292px;
    height: 352px;
    border-radius: 10px;
    margin-bottom: 40px;
  }

  .aboutMe__about {
    margin: 0 0 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 540px) {
  .aboutMe {
    padding: 70px 14px;
  }

  .aboutMe__header {
    font-size: 18px;
    margin-bottom: 60px;
    padding-bottom: 28px;
  }

  .aboutMe__name {
    font-size: 30px;
    line-height: 1.2;
  }

  .aboutMe__speciality {
    margin: 20px 0;
    font-size: 11px;
    line-height: 1.45;
  }

  .aboutMe__about {
    margin: 0;
    width: 292px;
    font-size: 11px;
    line-height: 1.45;
  }
}
