.header {
  display: flex;
  justify-content: space-between;
  background: #073042;
}

.header__onLog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 38px;
  margin: 18px 0 18px 70px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1023px) {
  .header__onLog {
    justify-content: space-between;
  }

  .logo {
    margin-left: 30px;
  }
}

@media screen and (max-width: 540px) {
  .logo {
    margin-left: 14px;
  }
}
